<section class="hero is-warning ">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Tarife Skipass
        </h1>
        
      </div>
    </div>
  </section>

  <section class="section" >
    <div class="container" style="overflow: hidden;">

     <div class="container" style="width: 65%; float: left;">
    <table class="table is-striped" >
            <thead>
                <tr>
                    <th>Tarife 2020</th>
                    <th> &nbsp;1 zi &nbsp;</th>
                    <th>4h (13<sup>00</sup>-17<sup>00</sup>)</th>
                    <th>5 urcari</th>
                    <th>10 urcari</th>
                    <th>Nocturna*</th>
                </tr>
            </thead>
            <tbody>
          <tr > 
          <th>Adulti Vineri-Duminica (+PVS**)</th>   
          <td>80 ron</td> 
          <td>60 ron</td> 
          <td>30 ron</td> 
          <td>60 ron</td> 
          <td>60 ron</td> 
      </tr>
      <tr > 
        <th>Adulti Luni-Joi</th>    
        <td>60 ron</td> 
        <td>40 ron</td> 
        <td>30 ron</td> 
        <td>60 ron</td> 
        <td>X</td> 
    </tr>
    <tr > 
        <th>Copii (sub 14 ani)</th>    
        <td>60 ron</td> 
        <td>40 ron</td> 
        <td>30 ron</td> 
        <td>60 ron</td> 
        <td>X</td> 
    </tr>
      </tbody>
      </table>
      <div class="container" style="font-size: small;">
        <h1>* - Sambata intre orele 18<sup>00</sup>-21<sup>00</sup></h1>
        <h1>** - Perioada varfului de sezon, vacante scolare</h1>
    </div>
     </div>

      <div class="container" style="width: 33%; float: right;">

        <div class="box is-shadowless has-background-primary has-text-centered" style="font-size: medium;">
                  <h1 style="color: white;"> ORAR 9<sup>00</sup>-17<sup>00</sup></h1>  
                  
            </div>

            <div style="font-size: small;">
        <h1>&#10052; Garantie Skipass 10 ron (returnabila)</h1> 
        <h1>&#10052; Skipass-ul nu este transmisibil</h1> 
        <h1>&#10052; Skipass-urile de 1 zi si 4 h sunt valabile doar in ziua in curs</h1>
        <h1>&#10052; Skipass-urile cu urcari sunt valabile un sezon</h1>
        <h1>&#10052; Seniorii (peste 65 ani) au tarif redus</h1> 
    </div>
      </div>
  

      </div>

  </section>