<section class="section is-fullwidth " style="background-color:#6CC9BF">
  <div class="container">
       
        <h1 class="title" style="color: white">
        
          Tarife Skipass</h1>
    
  </div>
  </section>

      <section class="section is-fullwidth" style="background-color:white; padding-left: 4rem;">
        <div class="columns ">
          <div class="column  is-8-tablet is-8-desktop">

      <div class="box is-shadowless has-background-primary has-text-centered" style="font-size: medium;">
        <h1 style="color: white;"> ORAR 9<sup>00</sup>-17<sup>00</sup></h1>  
        
      </div>
    <table class="table is-striped" >
            <thead>
                <tr>
                    <th>Tarife 2020</th>
                    <th> &nbsp;1 zi &nbsp;</th>
                    <th>4h (13<sup>00</sup>-17<sup>00</sup>)</th>
                    <th>5 urcari</th>
                    <th>10 urcari</th>
                    <th>Nocturna*</th>
                </tr>
            </thead>
            <tbody>
          <tr > 
          <th>Adulti Vineri-Duminica (+PVS**)</th>   
          <td>80 ron</td> 
          <td>60 ron</td> 
          <td>30 ron</td> 
          <td>60 ron</td> 
          <td>60 ron</td> 
      </tr>
      <tr > 
        <th>Adulti Luni-Joi</th>    
        <td>60 ron</td> 
        <td>40 ron</td> 
        <td>30 ron</td> 
        <td>60 ron</td> 
        <td>X</td> 
    </tr>
    <tr > 
        <th>Copii (sub 14 ani)</th>    
        <td>60 ron</td> 
        <td>40 ron</td> 
        <td>30 ron</td> 
        <td>60 ron</td> 
        <td>X</td> 
    </tr>
      </tbody>
      </table>
      <div class="container" style="font-size: small;">
        <p><strong>*</strong> - Sambata intre orele 18<sup>00</sup>-21<sup>00</sup></p>
        <p><strong>**</strong>  - Perioada varfului de sezon, vacante scolare</p>
    </div>
     </div>

        <div class="column  is-4-tablet is-4-desktop">
          <div class="box " style=" background-color: white;">  
            <h1 class="has-text-centered" style="font-size: large;"><strong>INFO</strong></h1> 
            <br>
            <div style="font-size: small;">
        <p>&#10052; Garantie Skipass 10 ron (returnabila)</p> 
        <p>&#10052; Skipass-ul nu este transmisibil</p> 
        <p>&#10052; Skipass-urile de 1 zi si 4 h sunt valabile doar in ziua in curs</p>
        <p>&#10052; Skipass-urile cu urcari sunt valabile un sezon</p>
        <p>&#10052; Seniorii (peste 65 ani) au tarif redus</p> 
    </div>
      </div>
        </div>
  

      </div>

  </section>