<section class="section is-fullwidth " style="background-color:#6CC9BF">
  <div class="container">
       
        <h1 class="title" style="color: white">
        
          Noutati</h1>
    
  </div>
  </section>



<section class="container " >
  <div class="columns ">
    <div class="column is-3">
      <section class="section">
  
      <a class="button is-primary is-block is-alt is-large" (click)="buttonPress()">Postare Noua</a>

      <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
        <div class="modal-background" (click)="toggleModal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Postare Noua</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
          </header>
          <section class="modal-card-body">
          
            <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" id="myForm">

              <div class="field">
                <label class="label is-medium has-background-white">Titlu</label>
                  <div class="control">
                <input 
                class="input is-primary" 
                type="text"
                name="title" 
                placeholder="Titlul postarii" 
                [(ngModel)]="title"
                required>
              </div>
              </div>
            
            <div class="field">
              <label class="label is-medium has-background-white">Mesaj</label>
                <div class="control">
              <textarea 
              class="textarea is-primary" 
              type="text"
              name="message" 
              placeholder="La ce te gandesti?" 
              [(ngModel)]="message"
              required>
              </textarea>
            </div>
            </div>

              <div class="buttons">
              <button 
              type="submit" 
              class="button is-primary"
              [disabled]="formData.invalid"
              >
              Publica
            </button>
            <button class="button is-light" (click)="toggleModal()">Anuleaza</button>
              </div>
            </form>

          </section>
        </div>
      </div>

      <!-- <a href='https://pngtree.com/so/cartoon'>cartoon png from pngtree.com</a> -->
      <img src='/assets/image/forum.png'>
      
    </section>
    </div>
    <div class="column is-9">
      <section class="section">

        <app-post-list></app-post-list>
    </section>
    </div>
  </div>
</section>