<section class="section is-fullwidth " style="background-color:#6CC9BF">
  <div class="container">
       
        <h1 class="title" style="color: white">
        
          Noutati</h1>
    
  </div>
  </section>



<section class="container " >
  <div class="columns ">
    <div class="column is-3">
      <section class="section">
  
      <a class="button is-primary is-block is-alt is-large" (click)="buttonPress()">Postare Noua</a>

      <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
        <div class="modal-background" (click)="toggleModal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Postare Noua</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
          </header>
          <section class="modal-card-body">
          
              <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                <div class="formGroup">
                <label class="label is-medium has-background-white">Titlu</label>
                  <div class="control">
                <input 
                class="input is-primary" 
                type="text"
                formControlName="title" 
                placeholder="Titlul postarii" 
                required>
              </div>
              </div>
            
              <div class="formGroup">
              <label class="label is-medium has-background-white">Mesaj</label>
                <div class="control">
              <textarea 
              class="textarea is-primary" 
              type="text"
              formControlName="message" 
              placeholder="La ce te gandesti?" 
              required>
              </textarea>
            </div>
            </div>

              <div class="buttons">
              <button 
              type="submit" 
              class="button is-primary"
              [disabled]="formTemplate.invalid"
              >
              Publica
            </button>
            <button class="button is-light" (click)="toggleModal()">Anuleaza</button>
              </div>
            </form>
          </section>
        </div>
      </div>

      <img src='/assets/image/forum.png'>
      
    </section>
    </div>
    <div class="column is-9">
      <section class="section">

        <div class="box content has-text-centered" *ngIf="(posts)?.length==0">
          <p><strong> Nu exista postari!</strong></p>
        </div>
        
        <div *ngFor="let post of pagedItems" [class.completed]="post.completed">
        <div class="card" style="border-radius: 10px;">
          <header class="card-header">
               <p class="card-header-title" style="font-size: 27px">{{ post.title }} </p> &nbsp;&nbsp;
            <a *ngIf="userStatus && ((userStatus.role === 'admin') || (userStatus.authId === post.userId))">
              <span class="icon is-large is-right fas fa-lg" style="color: #0B8C68;">
                <fa-icon [icon]="faEdit" (click)="onEdit(post,post.id)"></fa-icon>
              </span> 
            </a>
            <a  *ngIf="userStatus && ((userStatus.role === 'admin') || (userStatus.authId === post.userId))">
              <span class="icon is-large is-right fas fa-lg" style="color: #0B8C68;">
                <fa-icon [icon]="faTrash" (click)="delete(post.id)"></fa-icon>
              </span> 
            </a>
          </header>

          <div class="card-content">
            <div class="content">
              <p> {{ post.message }} </p>
            <p ><span style="float: left;">{{ post.user }} &nbsp;&nbsp; </span> 
              <span style="float: right;"> <i><small>{{post.created.toDate() | date: 'dd MMM hh:mm'}}</small></i></span>
              </p>
             </div>
          </div>
        
        <app-comment *ngIf="userStatus" postId={{post.id}} userId={{userStatus.authId}} userName={{userStatus.name}}></app-comment>
        <app-comment-list postId={{post.id}} userPostId={{post.userId}}></app-comment-list>
         
        </div>
        </div>
        
        
         <nav class="pagination is-centered" role="navigation" aria-label="pagination">

          <a class="pagination-previous" (click)="setPage(1)" [class.disabled]="pagination.currentPage === 1">
            First
          </a>
          <a class="pagination-previous" (click)="setPage(pagination.currentPage - 1)" [class.disabled]="pagination.currentPage === 1">
            Previous
          </a>
     
          <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination-list">
            <li *ngFor="let page of pagination.pages">
              <a class="pagination-link" [class.is-current]="pagination.currentPage === page" aria-label="Goto page 1" (click)="setPage(page)">{{ page }}</a>
            </li>
          </ul>
          <a class="pagination-next" (click)="setPage(pagination.currentPage + 1)" [class.disabled]="pagination.currentPage === pagination.totalPages">
            Next
          </a>
          <a class="pagination-next" (click)="setPage(pagination.totalPages)" [class.disabled]="pagination.currentPage === pagination.totalPages">
            Last
          </a>
          
        </nav> 
        
    </section>
    </div>
  </div>
</section>