<div class="box content has-text-centered" *ngIf="(posts)?.length==0">
  <p><strong> Nu exista postari!</strong></p>
</div>
<div *ngFor="let post of posts" [class.completed]="post.completed">
<div class="card" >
  <header class="card-header">
     
    <p class="card-header-title" style="font-size: 27px">{{ post.title }} </p> &nbsp;&nbsp;
      
    <a  *ngIf="userStatus && (userStatus.role === 'admin')">
      <span class="icon is-large is-right fas fa-lg">
        <fa-icon [icon]="faTrash" (click)="delete(post.id)"></fa-icon>
      </span> 
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <p>
      {{ post.message }}
    </p>
    <p ><span style="float: left;">{{ post.user }} &nbsp;&nbsp; </span> 
      <span style="float: right;"> <i><small>{{post.created.toDate() | date: 'dd MMM hh:mm'}}</small></i></span>
      </p>
     </div>
  </div>

<form #formData="ngForm" (ngSubmit)="onSubmit(formData, post.id)" id="myForm">
  <div class="input-group">
    &nbsp;&nbsp; 
    <input 
    class="input is-rounded is-primary" 
    type="text"
     name="comment" 
     placeholder="Adauga un comentariu"
     [(ngModel)]="comment"
     required>
  &nbsp;&nbsp;
  <button 
  type="submit" 
  class="button is-primary"
  [disabled]="formData.invalid"
  >
  Trimite
</button> &nbsp;&nbsp;
</div>
</form>
  <footer class="card-footer">
    <a  class="card-footer-item" (click)="toggleComments()">Comentarii</a>
  </footer>
  <footer class="card-footer">
    <div class="card-footer-item" *ngIf="showVar"> 
     
    </div>
  </footer>
 
</div>
</div>