 <section class="section is-fullwidth " style="background-color:#6CC9BF">
  <div class="container">
       
        <h1 class="title" style="color: white">
        
          Servicii </h1>
    
  </div>
  </section>
  


  <section class="container" >
    <div class="columns">
        <div class="column is-12-mobile is-4-tablet is-4-desktop" style="margin-top: 1.1em; margin-bottom: 1.1em;">

  <a class="bd-link" href="">
    <figure class="image is-centered is-96x96" style="display: block;
    margin-left: auto;
    margin-right: auto;">
        <img  src="assets/image/boots.png" > 
    </figure>

<h2 class="bd-link-name has-text-centered">
    
  <strong>&nbsp;Inchiriere echipament</strong>
</h2>


</a>

        </div>
  
        <div class="column is-4" style="margin-top: 1.1em; margin-bottom: 1.1em;">
  <a class="bd-link" routerLink="/school">
    <figure class="image is-centered is-96x96" style="display: block;
    margin-left: auto;
    margin-right: auto;">
        <img  src="assets/image/skischool.png" > 
    </figure>

<h2 class="bd-link-name has-text-centered">
  
  <strong>&nbsp;Scoli de schi</strong>
</h2>

</a>
        </div>

<div class="column is-12-mobile is-4-tablet is-4-desktop" style="margin-top: 1.1em; margin-bottom: 1.1em;">
  
  <a class="bd-link " href="">
      <figure class="image is-centered is-96x96" style="display: block;
      margin-left: auto;
      margin-right: auto;">
    <img  src="assets/image/tools.png"> 
</figure>

<h2 class="bd-link-name has-text-centered">
 <strong>&nbsp;Service si Intretinere</strong> 
</h2>
</a>
</div>
        </div>
</section>