<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
  
    <div class="formGroup" >
          <div class="control">
        <input 
        class="input is-primary" 
        type="text"
        formControlName="name" 
        required>
          </div>
      </div>

      <button type="submit" class="button is-primary" [disabled]="formTemplate.invalid" >
      Modifica numele
    </button>
</form>

<!-- <form [formGroup]="formTemplateEmail" (submit)="onSubmitEmail(formTemplate.value)">
  
  <div class="formGroup" >
        <div class="control">
      <input 
      class="input is-primary" 
      type="email"
      formControlName="email" 
      required>
        </div>
    </div>

    <button type="submit" class="button is-primary" [disabled]="formTemplate.invalid" >
    Modifica adresa email
  </button>
</form> -->