$skigreen: #0B8C68;
$skired: #F24949;
$skiyellow: #F2CD5E;
$skilightblue: #6CC9BF;


$danger: $skired;
$primary: $skigreen;
$info: $skiyellow;
$warning: $skilightblue;

$modal-card-head-background-color: #FFFFFF;
$background: #FFFFFF;

$section-padding: 2rem 1.5rem;
// $hero-body-padding: 2rem 1.5rem;

$table-striped-row-even-background-color: white;
$table-striped-row-even-hover-background-colo: white;

@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/button';
@import 'node_modules/bulma/sass/elements/container';
@import 'node_modules/bulma/sass/elements/title';
@import 'node_modules/bulma/sass/form/_all';
@import 'node_modules/bulma/sass/components/navbar';
@import 'node_modules/bulma/sass/layout/hero';
@import 'node_modules/bulma/sass/layout/section';

@import 'node_modules/bulma/sass/components/message';