<section class="hero is-primary is-fullheight-with-navbar" 
style="background-color:#6CC9BF;">

    <div class="hero-body">

      
        <div class="columns is-multiline" >
          <div class="column is-6-desktop is-12-mobile is-12-tablet" style=" min-height: 10em; display: flex; align-items: center" >
            <section class="container has-text-centered" > 

        <h1 class="title" >
          SCHI BANAT
        </h1>

        <h2 class="subtitle">
          Semenic & Valiug
        </h2>

        <br>
        <a class="button is-danger" routerLink="/partii" >Vezi Partiile de Schi</a>

      </section>
     </div>


          <div class="column is-6-desktop is-12-mobile is-12-tablet" >
            <img src='/assets/image/1.jpg'>
          </div>
      </div>

    </div>
    
  </section>

