<section class="hero is-primary is-fullheight-with-navbar" style="background-image: url('/assets/image/bg1.png') !important;
background-size: cover;
background-position: center center;">

    <div class="hero-body">

      <div class="container">

        <h1 class="title ">
          SKI BANAT
        </h1>

        <h2 class="subtitle">
          Semenic & Valiug
        </h2>

      </div>

    </div>
    
  </section>

  <!-- <section class="hero is-medium" style="background-color:#BBF2EF">

    <div class="hero-body">

      <div class="container">

       
      </div>

    </div>

  </section> -->