<section class="hero is-primary is-fullheight-with-navbar" style="background-image: url('/assets/image/bg1.png') !important;
background-size: cover;
background-position: center center;">

    <div class="hero-body">

      <div class="container" > 
        <div class="columns">
          <div class="column is-6">

        <h1 class="title ">
          SCHI BANAT
        </h1>

        <h2 class="subtitle">
          Semenic & Valiug
        </h2>
        <br>
        <a class="button is-danger is-large" routerLink="/partii" >Vezi Partiile de Schi</a>
          </div>
          <div class="column is-6"></div>
      </div>

    </div>
    </div>
    
  </section>


<!-- 
  <section class="section is-fullwidth " style="background-color:#BBF2EF; height:20rem">
    <div class="container">
         

            <h2 class="subtitle " style="text-align:right; color: white">
              Semenic & Valiug
            </h2>
      
    </div>
    </section>
     -->