<div class="section has-text-centered" *ngIf="(cazari)?.length==0">
    <p><strong> Nu exista cazari!</strong></p>
</div>

<section class="section ">
    <div class="container" >
        <a  *ngIf="userStatus && (userStatus.role === 'admin')">
            <button class="button is-primary"  
            style=" margin:auto;display:block;" 
            (click)="buttonPress()">Adauga cazare</button>
          </a>

          <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
            <div class="modal-background" (click)="toggleModal()"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Cazare Noua</p>
                <button class="delete" aria-label="close" (click)="toggleModal()"></button>
              </header>
              <section class="modal-card-body">
              
                <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    
                    <div class="field-body">
                        <div class="field">
                    <div class="formGroup">
                        <label class="label is-medium has-background-white">Nume</label>
                          <div class="control">
                        <input 
                        class="input is-primary" 
                        type="text"
                        formControlName="name" 
                        placeholder="Numele cazarii" 
                        required>
                      </div>
                      </div></div>

                      <div class="field">
                    <div class="formGroup">
                        <label class="label is-medium has-background-white">Locatie</label>
                        <div class="control" >
                            <div class="select is-primary is-fullwidth" >
                              <select formControlName="category" required>
                                <option value="Semenic">Semenic</option>
                                <option value="Valiug">Valiug</option>
                                <option value="Alta">Alta</option>
                              </select>
                            </div>
                          </div>
                    </div>
                      </div>
                </div>
                    
                <div class="field">
                    <div class="formGroup">
                        <label class="label is-medium has-background-white">Descriere</label>
                          <div class="control">
                        <textarea 
                        class="textarea is-primary" 
                        type="text"
                        formControlName="description" 
                        placeholder="Descrierea cazarii" 
                        required>
                        </textarea>
                      </div>
                      </div>
                    </div>

                    <div class="formGroup" >
                          <div class="control" >
                        
                            <div class="file"  >
                                <label class="file-label">
                                  <input 
                                   class="file-input" 
                                  formControlName="imageURL" 
                                  accept="image/*" 
                                  type="file"  
                                  (change)="showPreview($event)" 
                                  required> 
                                  <span class="file-cta" >
                                    <span class="file-icon">
                                        <fa-icon [icon]="faUpload"></fa-icon>
                                      </span> 
                                    <span class="file-label is-large">
                                      Adauga o fotografie
                                    </span>
                                  </span>
                                </label>
                              </div>

                      </div>
                      </div>
                    
                      <div class="section">
                    <div class="text-center">
                        <img [src]="imgSrc" width="350px" height="250px" >
                    </div>
                  </div>
                    
                  <div class="buttons is-centered">
                    <button 
                    type="submit" 
                    class="button is-primary"
                    [disabled]="formTemplate.invalid"
                    >
                    Adauga
                  </button>
                  <button class="button is-light" (click)="toggleModal()">Anuleaza</button>
                    </div>
                </form>
    
              </section>
            </div>
          </div>

          <br>
        <div class="columns is-multiline">
            <div class="column is-12-mobile is-4-tablet is-4-desktop" *ngFor="let cazare of cazari" [class.completed]="cazare.completed">
                 <div class="card is-slightly-rounded">

<div class="card-image">
            <figure class="image">
         <img src={{cazare.imageURL}} class="is-slightly-rounded" />
        
    </figure>
</div>
<div class="card-content">
    <div class="content">
        <p>
            <span class="title is-4 is-capitalized">
                <a class="has-text-black" href="#">{{cazare.name}}</a>
            </span>
            <br>
            <span class="m-t-tiny block">{{cazare.category}}</span>
        </p>

        <p > {{cazare.description}}      </p>

        
        <app-star-review *ngIf="userStatus" cazareId={{cazare.id}} userId={{userStatus.id}}></app-star-review>

      <a *ngIf="!userStatus" class="button is-primary is-block is-alt is-small" (click)="ratingPress()">Vezi nota</a>


     </div>
</div>
            </div>                
        </div>
        
     </div>
    </div>
</section>