<div class="section has-text-centered" *ngIf="(cazari)?.length==0">
    <p><strong> Nu exista cazari!</strong></p>
</div>

<section class="section ">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-6-desktop visible has-text-centered">
      <span  style="font-size:medium">Locatie: &nbsp;</span>
    </div>
    <div class="column is-12-mobile is-6-tablet is-6-desktop">
    <div class="container" >
      <span class="notvisible" style="font-size:medium">Locatie: &nbsp;</span>
      <button class="button is-primary is-outlined " (click)="buttonSemenic()">Semenic</button>&nbsp;
      <button class="button is-primary is-outlined " (click)="buttonValiug()">Valiug </button>&nbsp;
      <button class="button is-primary is-outlined " (click)="buttontoate()">Toate</button>

    </div>
  </div>

  <div class="column is-12-mobile is-6-tablet is-6-desktop">
    <div class="container" style="font-size: small;" >
      <a  *ngIf="userStatus && (userStatus.role === 'admin')">
        <button class="button is-primary adauga" 
        (click)="buttonPress()">Adauga cazare</button>
      </a>
      <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
        <div class="modal-background" (click)="toggleModal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Cazare Noua</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
          </header>
          <section class="modal-card-body">
          
            <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

                <div class="field-body">
                    <div class="field">
                <div class="formGroup">
                    <label class="label is-medium has-background-white">Nume</label>
                      <div class="control">
                    <input 
                    class="input is-primary" 
                    type="text"
                    formControlName="name" 
                    placeholder="Numele cazarii" 
                    required>
                  </div>
                  </div></div>

                  <div class="field">
                <div class="formGroup">
                    <label class="label is-medium has-background-white">Locatie</label>
                    <div class="control" >
                        <div class="select is-primary is-fullwidth" >
                          <select formControlName="category" required>
                            <option value="Semenic">Semenic</option>
                            <option value="Valiug">Valiug</option>
                            <option value="Alta">Alta</option>
                          </select>
                        </div>
                      </div>
                </div>
                  </div>
            </div>

            <div class="field-body">
              <div class="field">
          <div class="formGroup">
              <label class="label is-medium has-background-white">URL</label>
                <div class="control">
              <input 
              class="input is-primary" 
              type="text"
              formControlName="link" 
              placeholder="Site-ul cazarii" 
              required>
            </div>
            </div>
              </div>
            </div>
                
            <div class="field">
                <div class="formGroup">
                    <label class="label is-medium has-background-white">Descriere</label>
                      <div class="control">
                    <textarea 
                    class="textarea is-primary" 
                    type="text"
                    formControlName="description" 
                    placeholder="Descrierea cazarii" 
                    required>
                    </textarea>
                  </div>
                  </div>
                </div>

                <div class="formGroup" >
                      <div class="control" >
                    
                        <div class="file"  >
                            <label class="file-label">
                              <input 
                               class="file-input" 
                              formControlName="imageURL" 
                              accept="image/*" 
                              type="file"  
                              (change)="showPreview($event)" 
                              required> 
                              <span class="file-cta" >
                                <span class="file-icon">
                                    <fa-icon [icon]="faUpload"></fa-icon>
                                  </span> 
                                <span class="file-label is-large">
                                  Adauga o fotografie
                                </span>
                              </span>
                            </label>
                          </div>

                  </div>
                  </div>
                
                  <div class="section">
                <div class="text-center">
                    <img [src]="imgSrc" width="350px" height="250px" >
                </div>
              </div>
                
              <div class="buttons is-centered">
                <button 
                type="submit" 
                class="button is-primary"
                [disabled]="formTemplate.invalid"
                >
                Adauga
              </button>
              <button class="button is-light" (click)="toggleModal()">Anuleaza</button>
                </div>
            </form>

          </section>
        </div>
      </div>
    </div>
  </div>
  
          

          <br>
            <div class="column is-12-mobile is-4-tablet is-4-desktop" *ngFor="let cazare of cazari" [class.completed]="cazare.completed">
              <div class="container" >
                 <div class="card is-slightly-rounded">

<div class="card-image">
  
            <figure class="image">
         <img src={{cazare.imageURL}} class="is-slightly-rounded" />

    </figure>
</div>
<div class="card-content">
    <div class="content">
        <p>
            <span class="title is-4 is-capitalized">
                <a class="has-text-black" href="#">{{cazare.name}}</a>
            </span>

            <br>
            <span class="m-t-tiny block">{{cazare.category}}</span>
            <a *ngIf="userStatus && (userStatus.role === 'admin')">
              <span class="icon is-medium is-right fas fa-lg" style="float: right; color:#0B8C68;">
                <fa-icon [icon]="faTrash" (click)="delete(cazare.id)"></fa-icon>
              </span> 
            </a>
            &nbsp;
            <a *ngIf="userStatus && (userStatus.role === 'admin')">
              <span class="icon is-medium is-right fas fa-lg" style="float: right; color:#0B8C68;">
                <fa-icon [icon]="faEdit" (click)="onEdit(cazare,cazare.id)"></fa-icon>
              </span> 
            </a>
        </p>

        <p > {{cazare.description}}      </p>

        <div class="container" style="width: 65%; float: left;">
          
          <app-star-review cazareId={{cazare.id}}></app-star-review>
          <a *ngIf="!userStatus" class="button is-primary is-outlined is-small " (click)="ratingPress()">Adauga nota</a>
        </div>
       
      <div class="container" style="width: 33%; float: right;">
        <a href="{{cazare.link}}" target="_blank" class="button is-danger">Detalii</a>

      </div>

     </div>
</div>
            </div>                
        </div>
     
    </div>
    </div>
</section>