
  <section class="section is-fullwidth " style="background-color:#6CC9BF">
    <div class="container">
         
          <h1 class="title" style="color: white">
          
            Camere Web</h1>
      
    </div>
    </section>
    


  <section class="container" >
    <div class="columns is-multiline">
        <div class="column is-12-mobile is-4-tablet is-4-desktop">
            <section class="section">
            <div class="card">

                <article class="message is-primary">
                    <div class="message-header">
                      <p>
                        <a name="windy-webcam-timelapse-player" data-id="1544689992" data-play="day" href="https://windy.com/webcams/1544689992" target="_blank">Valiug (Plecare)</a>
                        
                        <script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
                        </p>
                    </div>
                    <div class="message-body">
                        <a href="https://www.windy.com/webcams/1544689992" target="_blank" title="Văliug">
                            <img alt="Văliug" src="https://images-webcams.windy.com/92/1544689992/current/preview/1544689992.jpg" width="400" height="224">
                        </a>
                    
                    </div>
                  </article>
            </div>            
        </section>
        </div>

        <div class="column is-12-mobile is-4-tablet is-4-desktop">
            <section class="section">
            <div class="card">

                <article class="message is-primary">
                    <div class="message-header">
                      <p>
                        <a name="windy-webcam-timelapse-player" data-id="1544690089" data-play="day" href="https://windy.com/webcams/1544690089" target="_blank">Valiug (Sosire)</a>
                        <script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
                        </p>
                    </div>
                    <div class="message-body">
                        <a href="https://www.windy.com/webcams/1544690089" target="_blank" title="Văliug">
                            <img alt="Văliug" src="https://images-webcams.windy.com/89/1544690089/current/preview/1544690089.jpg" width="400" height="224">
                        </a>
                    </div>
                  </article>
            </div>            
        </section>
        </div>

        <div class="column is-12-mobile is-4-tablet is-4-desktop">
            <section class="section">
            <div class="card">

                <article class="message is-primary">
                    <div class="message-header">
                      <p>
                        <a name="windy-webcam-timelapse-player" data-id="1276096762" data-play="day" href="https://windy.com/webcams/1276096762" target="_blank">Semenic</a>
                        <script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
                        </p>
                    </div>
                    <div class="message-body">
                        <a href="https://www.windy.com/webcams/1276096762" target="_blank" title="Văliug">
                            <img alt="Semenic" src="https://images-webcams.windy.com/89/1276096762/current/preview/1276096762.jpg" width="400" height="224">
                        </a>
                    </div>
                  </article>
            </div>            
        </section>
        </div>



    </div>
  </section>