<section class="section is-fullwidth " style="background-color:#6CC9BF">
    <div class="container">
         
          <h1 class="title" style="color: white">
          
            Servicii </h1>
      
    </div>
    </section>

    <section class="section is-fullwidth" style="background-color:white; padding-left: 4rem;">
        <div class="columns ">

            <div class="column  is-3-tablet is-3-desktop">

                <section class="container" style="background-color:white; padding: 1rem 1rem 1rem 1rem; border-radius: 10px;">
                    
                    
                    <div style="background-color: #0B8C68; border-radius: 10px;  padding: 0.5rem 0.5rem 0.5rem 0.5rem; cursor: pointer;" >
                        
                            <img  src="assets/image/boots.png" style="width: 45px;"> 
                         <span style="color:white; font-weight:bold; font-size: small;">&nbsp;&nbsp;&nbsp;Inchiriere echipament</span>
                    </div>
<br>
                    <div  routerLink="/school" style="cursor: pointer;" routerLink="/school">
                        
                        <img  src="assets/image/skischool.png" style="width: 45px;"> 
                     <span style="color: #424242; font-weight:bold; font-size:small ;">&nbsp;&nbsp;&nbsp;Scoli de schi</span>
                    </div>

                   <br>

                   <div  routerLink="/school" style="cursor: pointer;" routerLink="/servicii">
                        
                    <img  src="assets/image/tools.png" style="width: 45px;"> 
                 <span style="color: #424242; font-weight:bold; font-size:small ;">&nbsp;&nbsp;&nbsp;Service si Intretinere</span>
                </div>

                </section>
            </div>

            <div class="column is-6-tablet is-6-desktop">

                <section class="container " style="background-size: 100% auto;  border-radius: 10px;">
                
                    <div class="container has-text-centered">
                        <table class="table is-striped " >
                            <thead>
                                <tr>
                                 <th>Item</th>
                                  <th>Tarif</th>
                                  <th *ngIf="userStatus && (userStatus.role === 'admin')">
                                    Modifica
                                  </th>
                                  <th *ngIf="userStatus && (userStatus.role === 'admin')">
                                    Sterge
                                  </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let equip of equips" [class.completed]="equip.completed"> 
                                    
                                    <td>{{equip.name}}</td>
                                    <td>{{equip.tarif}} lei/h</td>

                                    <td *ngIf="userStatus && (userStatus.role === 'admin')">
                                      <a >
                                        <span class="icon is-small is-right fas fa-lg">
                                          <fa-icon [icon]="faEdit" (click)="onEdit(equip,equip.id)"></fa-icon>
                                        </span> 
                                      </a>
                                    </td>
                        
                            
                            <td *ngIf="userStatus && (userStatus.role === 'admin')">
                              <a >
                                <span class="icon is-small is-right fas fa-lg">
                                  <fa-icon [icon]="faTrash" (click)="delete(equip.id)"></fa-icon>
                                </span> 
                              </a>
                            </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a *ngIf="userStatus && (userStatus.role === 'admin')" class="button is-danger" (click)="buttonPress()" >
                        Adauga item
                      </a>

                      <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
                        <div class="modal-background" (click)="toggleModal()"></div>
                        <div class="modal-card">
                          <header class="modal-card-head">
                            <p class="modal-card-title">Item</p>
                            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
                          </header>
                          <section class="modal-card-body">
                          
                            <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                
                                <div class="formGroup">
                                    <label class="label is-medium has-background-white">Item</label>
                                      <div class="control">
                                    <input 
                                    class="input is-primary" 
                                    type="text"
                                    formControlName="name" 
                                    placeholder="Denumirea item-ului" 
                                    required>
                                      </div>
                                  </div>
              
                                    <div class="formGroup">
                                      <label class="label is-medium has-background-white">Tarif (lei/h)</label>
                                        <div class="control">
                                      <input 
                                      class="input is-primary" 
                                      type="number"
                                      formControlName="tarif" 
                                      placeholder="Tariful pe ora" 
                                      required>
                                        </div>
                                    </div>               
                                
                              <div class="buttons is-centered">
                                <button 
                                type="submit" 
                                class="button is-primary"
                                [disabled]="formTemplate.invalid"
                                >
                                Salveaza
                              </button>
                              <button class="button is-light" (click)="toggleModal()">Anuleaza</button>
                                </div>
              
              
                            </form>
                
                          </section>
                        </div>
                      </div>
               
                </section>
            </div>

            <div class="column  is-3-tablet is-3-desktop">
                <img src="../../assets/image/rent.jpg">
            </div>

        </div>
    </section>